name: Litmus Storybook
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install --force
      - name: Run Litmus Storybook Tests
        run: npx litmus-cli --version
